<!-- dashboard.component.html -->
<nav class="container center-tabs">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab === 'mes-informations'" (click)="selectedTab = 'mes-informations'">Mes Informations</a>
    </li>
    <li *ngIf="isAdmin" class="nav-item">
      <a class="nav-link" [class.active]="selectedTab === 'create-game'" (click)="selectedTab = 'create-game'">Nouveau jeu</a>
    </li>
    <li *ngIf="isAdmin" class="nav-item">
      <a class="nav-link" [class.active]="selectedTab === 'manage-users'" (click)="selectedTab = 'manage-users'">Gestion des Utilisateurs</a>
    </li>
    <li class="nav-item">
      <a  class="nav-link" [class.active]="selectedTab === 'favorites'" (click)="selectedTab = 'favorites'">Mes jeux favoris</a>
    </li>
    <li *ngIf="isAdmin" class="nav-item">
      <a class="nav-link" [class.active]="selectedTab === 'manage-hours'" (click)="selectedTab = 'manage-hours'">Gestion des Horaires</a>
    </li>
    <!-- Ajoutez d'autres onglets si nécessaire -->
  </ul>
</nav>

<div class="tab-content mt-3">
  <div *ngIf="selectedTab === 'mes-informations'">
    <app-user-info></app-user-info> <!-- Composant pour les informations de l'utilisateur -->
  </div>
  <div *ngIf="selectedTab === 'create-game' && isAdmin">
    <app-create-game></app-create-game> <!-- Formulaire de création de jeu -->
  </div>
  <div *ngIf="selectedTab === 'manage-users' && isAdmin">
    <app-user-management></app-user-management> <!-- Composant pour la gestion des utilisateurs -->
  </div>
  <div *ngIf="selectedTab === 'favorites'">
    <app-favorites></app-favorites> <!-- Composant pour les jeux favoris -->
  </div>
  <div *ngIf="selectedTab === 'manage-hours' && isAdmin">
    <app-opening-hours></app-opening-hours>
  </div>
</div>
