<div class="container mt-4">
  <h1 class="text-center mb-4">Jeux disponibles</h1>
  <div class="search-filters p-3 mb-4 bg-light rounded">
    <h4 class="text-center mb-4">Filtres de recherche</h4>
    <form (submit)="onSearch()">
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="name" class="form-label">Nom du jeu</label>
          <input type="text" id="name" [(ngModel)]="searchName" name="name" class="form-control">
        </div>
        <div class="col-md-4 mb-3">
          <label for="type" class="form-label">Type de jeu</label>
          <input type="text" id="type" [(ngModel)]="searchType" name="type" class="form-control">
        </div>
        <div class="col-md-4 mb-3">
          <label for="category" class="form-label">Catégorie</label>
          <input type="text" id="category" [(ngModel)]="searchCategory" name="category" class="form-control">
        </div>
        <div class="col-md-4 mb-3">
          <label for="ageMin" class="form-label">Âge minimum</label>
          <input type="number" id="ageMin" [(ngModel)]="searchAgeMin" name="ageMin" class="form-control">
        </div>
        <div class="col-md-4 mb-3">
          <label for="difficulty" class="form-label">Difficulté</label>
          <input type="text" id="difficulty" [(ngModel)]="searchDifficulty" name="difficulty" class="form-control">
        </div>
        <div class="col-md-4 mb-3">
          <label for="author" class="form-label">Auteur</label>
          <input type="text" id="author" [(ngModel)]="searchAuthor" name="author" class="form-control">
        </div>
        <div class="col-md-4 mb-3">
          <label for="playerMin" class="form-label">Nombre minimum de joueurs</label>
          <input type="number" id="playerMin" [(ngModel)]="searchPlayerMin" name="playerMin" class="form-control">
        </div>
        <div class="col-md-4 mb-3">
          <label for="playerMax" class="form-label">Nombre maximum de joueurs</label>
          <input type="number" id="playerMax" [(ngModel)]="searchPlayerMax" name="playerMax" class="form-control">
        </div>
        <div class="col-md-4 mb-3">
          <label for="partytime" class="form-label">Durée de la partie (minutes)</label>
          <input type="number" id="partytime" [(ngModel)]="searchPartytime" name="partytime" class="form-control">
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-custom-gradient w-100 mt-3">Rechercher</button>
    </form>
  </div>


  <div class="row">
    <!-- Utilisation de *ngFor pour itérer sur la liste de jeux -->
    <div class="col-md-3" *ngFor="let game of games">
      <!-- Carré représentant chaque jeu -->
      <div class="game-card">
        <!-- Lien cliquable vers la page du jeu -->
        <a [routerLink]="['/single-game', game._id]">
          <!-- Image du jeu avec lien -->
          <img class="game-image" [src]="game.image" alt="Game Image">
        </a>

        <!-- Nom du jeu -->
        <div class="game-title">{{ game.name }}</div>

        <!-- Détails du jeu en deux colonnes -->
        <div class="game-details">
          <!-- Première colonne -->
          <div class="column">
            <div><span class="orange-text">Type:</span> {{ game.type }}</div>
            <div><span class="orange-text">Catégorie:</span> {{ game.category }}</div>
          </div>

          <!-- Deuxième colonne -->
          <div class="column">
            <div><span class="orange-text">Âge minimum:</span> {{ game.ageMin }}</div>
            <div><span class="orange-text">Difficulté:</span> {{ game.difficulty }}</div>
            <div><span class="orange-text">Nombre de joueurs:</span> {{ game.playerMin }} - {{ game.playerMax }}</div>
            <div><span class="orange-text">Temps de jeu:</span> {{ game.partytime }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
