<!-- src/app/admin/create-game/create-game.component.html -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="text-center mb-4">Créer un Nouveau Jeu</h1>
      <p class="disclaimer">Attention: le bouton de soumission de formulaire ne sera actif que si tous les champs sont remplis.</p>
      <form [formGroup]="createGameForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
        <div class="form-group">
          <label for="name">Nom du jeu</label>
          <input id="name" formControlName="name" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input id="type" formControlName="type" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="category">Catégorie</label>
          <input id="category" formControlName="category" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="ageMin">Âge minimum</label>
          <input id="ageMin" formControlName="ageMin" class="form-control" type="number">
        </div>
        <div class="form-group">
          <label for="difficulty">Difficulté</label>
          <input id="difficulty" formControlName="difficulty" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="author">Auteur</label>
          <input id="author" formControlName="author" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="playerMin">Nombre minimum de joueurs</label>
          <input id="playerMin" formControlName="playerMin" class="form-control" type="number">
        </div>
        <div class="form-group">
          <label for="playerMax">Nombre maximum de joueurs</label>
          <input id="playerMax" formControlName="playerMax" class="form-control" type="number">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <quill-editor class="form-control" formControlName="description"></quill-editor>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input id="image" (change)="onFileChange($event)" class="form-control" type="file">
        </div>
        <div class="form-group">
          <label for="partytime">Temps de partie (minutes)</label>
          <input id="partytime" formControlName="partytime" class="form-control" type="number">
        </div>
        <div class="form-group">
          <label for="rules">Lien vers les règles</label>
          <input id="rules" formControlName="rules" class="form-control" type="text">
        </div>
        <button class="btn btn-success btn-custom-gradient w-100 mt-3" type="submit">Créer le jeu</button>
      </form>
    </div>
  </div>
</div>
