<div class="container" *ngIf="game">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="text-center mb-4">Mise à jour du jeu</h1>

      <form [formGroup]="gameForm" (ngSubmit)="updateGame()">
        <label>Nom du jeu</label>
        <input type="text" class="form-control" formControlName="name" required>

        <!-- Vérification pour game.type -->
        <div class="form-group" *ngIf="game.type">
          <label>Type du jeu</label>
          <input type="text" class="form-control" formControlName="type">
        </div>
        <div class="form-group" *ngIf="game.category">
          <label>Catégorie du jeu</label>
          <input type="text" class="form-control" formControlName="category">
        </div>
        <div *ngIf="game.ageMin">
          <label>Âge minimum</label>
          <input type="number" class="form-control" formControlName="ageMin">
        </div>
        <div *ngIf="game.difficulty">
          <label>Difficulté</label>
          <input type="text" class="form-control" formControlName="difficulty">
        </div>
        <div *ngIf="game.author">
          <label>Auteur</label>
          <input type="text" class="form-control" formControlName="author">
        </div>
        <div *ngIf="game.playerMin">
          <label>Nombre minimum de joueurs</label>
          <input type="number" class="form-control" formControlName="playerMin">
        </div>
        <div *ngIf="game.playerMax">
          <label>Nombre maximum de joueurs</label>
          <input type="number" class="form-control" formControlName="playerMax">
        </div>
        <div *ngIf="game.description">
          <label>Description</label>
          <quill-editor class="form-control" formControlName="description"></quill-editor>
        </div>
        <div *ngIf="game.image">
          <label>Image existante</label>
          <img [src]="game.image" class="img-fluid" alt="Game Image">
        </div>

        <div>
          <label>Nouvelle image (optionnel)</label>
          <input type="file" class="form-control" (change)="onFileChange($event)">
        </div>
        <div *ngIf="game.partytime">
          <label>Temps de partie (minutes)</label>
          <input type="number" class="form-control" formControlName="partytime">
        </div>
        <div *ngIf="game.rules">
          <label>Lien vers les règles</label>
          <input type="text" class="form-control" formControlName="rules">
        </div>


        <!-- Ajoute des vérifications similaires pour les autres champs -->

        <button class="btn btn-success btn-custom-gradient w-100 mt-3" type="submit">Mettre à jour</button>
      </form>
    </div>
  </div>
</div>
