<div class="container"><h1 class="card-title text-center mb-4">Contactez-nous</h1>
  <div class="card">
    <div class="card-body">

      <p class="text-center">Pour toute question, suggestion ou demande d'information, n'hésitez pas à nous contacter :</p>

      <div class="contact-info text-center">
        <p><strong>Adresse :</strong> [Adresse du bar à jeux]</p>
        <p><strong>Téléphone :</strong> [Numéro de téléphone]</p>
        <p><strong>Email :</strong> [Adresse email]</p>
      </div>

      <form>
        <p class = "text-center">Vous pouvez également nous laisser un message via ce formulaire:</p>
        <div class="form-group">
          <label for="name">Votre nom :</label>
          <input type="text" class="form-control" id="name" placeholder="Nom">
        </div>
        <div class="form-group">
          <label for="email">Votre email :</label>
          <input type="email" class="form-control" id="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <label for="message">Votre message :</label>
          <textarea class="form-control" id="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-custom-gradient w-100">Envoyer</button>
      </form>
    </div>
  </div>
</div>
