<div class="container">
  <div class="search-filters p-3 mb-4 bg-light rounded">
    <h1 class="display-4 text-center">Tabletop Games Meeting Tool</h1>
    <p class="lead text-center">Votre plateforme de réservation de tables pour votre bar à jeux préféré !</p>
    <p class="text-center">Trouvez facilement les jeux disponibles, réservez votre table et rejoignez la partie !</p>
    <div class="text-center">
        <a routerLink="/gamecard" class="btn btn-primary btn-lg btn-custom-gradient">Voir les jeux</a>
    </div>
  </div>
</div>
<div class="container">
<section class="features">

    <h1 class="text-center">Fonctionnalités principales</h1>
    <div class="row">

      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Parcourir les jeux</h3>
            <p class="card-text">Découvrez la liste complète des jeux disponibles.</p>
            <img src="assets/images/game-list-screenshot.png" alt="Capture d'écran de la liste des jeux" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Détails du jeu sélectionné</h3>
            <p class="card-text">Avec des informations détaillées sur chaque jeu.</p>
            <img src="assets/images/game-details-screenshot.png" alt="Capture d'écran des détails d'un jeu" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Réserver une table</h3>
            <p class="card-text">Choisissez un jeu, une date, une heure, et réservez votre table en quelques clics.</p>
            <img src="assets/images/table-reservation-screenshot.png" alt="Capture d'écran de la réservation de table" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Gérer votre compte</h3>
            <p class="card-text">Consultez et modifiez vos informations personnelles, gérez vos favoris et vos réservations.</p>
            <img src="assets/images/moncompte.png" alt="Capture d'écran de la gestion de compte" class="img-fluid">
            <img src="assets/images/mesfavoris.png" alt="Capture d'écran de la gestion de compte" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Fonctionnalités administrateur</h3>
            <p class="card-text">Gérer les jeux , gérer les tables, les utilisateurs et les informations de l'entreprise</p>
            <img src="assets/images/creagame.png" alt="Capture d'écran de l'interface administrateur" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

</section>
</div>


<section class="cta-secondary">
  <div class="container">
    <h2>Prêt à jouer ?</h2>
    <a routerLink="/sign-up" class="btn btn-success btn-custom-gradient">Inscrivez-vous</a>
    <a routerLink="/sign-in" class="btn btn-secondary btn-custom-gradient">Connectez-vous</a>
  </div>
</section>
