<div class="container legal-content">
  <div class="container card">
  <div class="card-body">
  <h1 class="card-title text-center mb-4">Politique de gestion des cookies</h1>
  <div class="card-text">

    <h2 class="text-center">Qu'est-ce qu'un cookie ?</h2>
    <p>Un cookie est un petit fichier texte déposé sur votre ordinateur, tablette ou smartphone lorsque vous visitez un site web.  Les cookies permettent de stocker des informations relatives à votre navigation (par exemple, vos préférences de langue, votre identifiant de connexion, etc.).</p>

    <h2 class="text-center">Quels cookies utilisons-nous ?</h2>
    <p>Ce site utilise les cookies suivants :</p>
    <ul>
        <li><strong>Cookies strictement nécessaires :</strong>  Ces cookies sont indispensables au fonctionnement du site et vous permettent d'utiliser ses fonctionnalités de base (accès aux zones sécurisées, etc.).  Ils ne peuvent pas être désactivés.</li>
        <li><strong>Cookies d'authentification :</strong> Ces cookies permettent de gérer votre connexion avec un token JWT.</li>
        <li><strong>Cookies de session :</strong> Ces cookies sont temporaires et expirent lorsque vous fermez votre navigateur.</li>
        <li><strong>Cookies de préférences (localStorage) :</strong> Permet de stocker les préférences de l'utilisateur pour l'affichage de l'application</li>
        <li><strong>Cookies de fonctionnalité :</strong>
            <ul>
                <li><strong>gameService :</strong>
                    <ul><li>Cookies de la fonctionnalitée d'ajout aux favoris</li></ul>
                </li>
                <li><strong>gameTableService :</strong>
                    <ul>
                      <li>Cookies de la fonctionnalitée d'ajout aux tables de jeu</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h2 class="text-center">Comment gérer les cookies ?</h2>
    <p>Vous pouvez gérer les cookies de plusieurs manières :</p>
    <ul>
      <li><strong>Paramètres de votre navigateur :</strong> Vous pouvez configurer votre navigateur pour qu'il refuse tous les cookies, ou pour qu'il vous avertisse avant d'accepter un cookie.  Consultez l'aide de votre navigateur pour savoir comment faire.</li>
      <li><strong>Suppression manuel :</strong> Vous pouvez supprimer les cookies de votre navigateur manuellement en vous rendant dans les paramètres de celui-ci.</li>
    </ul>
  </div>
</div>
</div>
</div>
