<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-6">
      <h1 class="text-center mb-4">Connexion</h1>
      <!-- Affichage du message d'erreur -->
      <div *ngIf="errorForm.length > 0">
        <p class="alert alert-danger">Vérifiez les points suivants:</p>
        <ul class="errors">
          <li *ngFor="let error of errorForm">
            <span *ngIf="error['email']">{{ error['email'].message }}</span>
            <span *ngIf="error['password']">{{ error['password'].message }}</span>
            <span *ngIf="error['general']">{{ error['general'] }}</span>
          </li>
        </ul>
      </div>
      <!-- Formulaire de connexion -->
      <form (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
        <p class="text-center">Pas encore de compte? <a routerLink="/sign-up">Incrivez-vous</a></p>
        <div class="form-group">
          <label for="email">Email :</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="signInData.email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe :</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="signInData.password" placeholder="Mot de passe" required>
        </div>
        <div class="form-group">
          <p class="text-center"><a routerLink="/forgot-password">Mot de passe oublié?</a></p>
        </div>
        <button type="submit" class="btn btn-success btn-custom-gradient w-100 mt-3">Se connecter</button>
      </form>
    </div>
  </div>
</div>

